SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Juan Bolaños >
-- Create date: <Create Date, 2025-02-18>
-- Description: <Description: Se crea SP para envio de notificaciones individuales de agotamiento de cupo credito cuando sobrepasa el 80% y el cliente este parametrizado 
-- en la tabla ClienteNotificacionEmail para el evento de notificacion 'Notificacion de agotamiento de cupo credito'.>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[UspEnvioNotificacionClienteCupoCredito]	
    @DatosJson VARCHAR (MAX),
	@PerfilCorreo VARCHAR(100),
	@TipoCorreo  INT, 
	@Porcentaje INT,
	@EmpresaID INT

AS

BEGIN

	--DECLARE
	--@DatosJson VARCHAR (MAX) ='[{"Nit":"900753930","NombreCliente":"VOLMACO S.A.S.","Cupo":330000000.00,"PorAgotado":82.04,"Saldo":59263374.83,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"800204462","NombreCliente":"EQUIRENT S.A.","Cupo":27500000.00,"PorAgotado":83.34,"Saldo":4582726.06,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"901196694","NombreCliente":"TAGA LOGISTICS SAS","Cupo":330000000.00,"PorAgotado":88.37,"Saldo":38393576.10,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"800185039","NombreCliente":"HONOR SERVICIOS DE SEGURIDAD LTDA","Cupo":18000000.00,"PorAgotado":94.17,"Saldo":1048657.58,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"71371665","NombreCliente":"ZULUAGA DUQUE JUAN CAMILO","Cupo":20000000.00,"PorAgotado":81.16,"Saldo":3768990.38,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"830017552","NombreCliente":"COTRANSCOPETROL S.A.S.","Cupo":600000000.00,"PorAgotado":90.39,"Saldo":57686127.87,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"900834336","NombreCliente":"VIA AEREA S.A.S.","Cupo":15000000.00,"PorAgotado":83.41,"Saldo":2487794.88,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"71613072","NombreCliente":"ARANGO BERMUDEZ LUIS FERNANDO","Cupo":40000000.00,"PorAgotado":80.28,"Saldo":7886590.91,"Email":"juankamilobz@gmail.com"},{"Nit":"21700391","NombreCliente":"GALLEGO CATAÑO RUBIELA DE JESUS","Cupo":42000000.00,"PorAgotado":93.06,"Saldo":2913911.25,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"70557175","NombreCliente":"MARTINEZ MONTOYA HERNANDO ADOLFO","Cupo":95175512.00,"PorAgotado":86.17,"Saldo":13162695.81,"Email":"juan.bolanos@fuelcontrol.com.co"},{"Nit":"900558756","NombreCliente":"TRANSCEPEDA S.A.S.","Cupo":110000000.00,"PorAgotado":83.45,"Saldo":18200309.61,"Email":"juan.bolanos@fuelcontrol.com.co"}]',
	--@PerfilCorreo VARCHAR(100)='', 
	--@TipoCorreo  INT=1,
	--@Porcentaje INT=80,
	--@EmpresaID INT = 3

	DECLARE
		@Encabezado		NVARCHAR(MAX),
		@BodyCorreo		NVARCHAR(MAX),
		@Pie			NVARCHAR(MAX),
		@Plantilla		NVARCHAR(MAX),
		@ClienteEmail	VARCHAR(100),
		@ClienteNit		VARCHAR(50),
		@ClienteNombre	NVARCHAR(100),
		@ClienteCupo	DECIMAL(20,2),
		@ClienteSaldo	DECIMAL(20,2),
		@ClientePorAgotado DECIMAL(20,2);


	DECLARE @tblDatosCliente TABLE (Nit	VARCHAR(16),NombreCliente	VARCHAR(150),  Cupo MONEY, PorAgotado	DECIMAL(20,2), Saldo MONEY, Email	VARCHAR(200))

	INSERT INTO @tblDatosCliente
	SELECT 
		Nit,
		NombreCliente,
		Cupo,
		PorAgotado,
		Saldo,
		Email
	FROM 
	OPENJSON(@DatosJson) 
	WITH
	(
		Nit				VARCHAR(16) '$.Nit',
		NombreCliente	VARCHAR(150) '$.NombreCliente',
		Cupo	MONEY '$.Cupo',
		PorAgotado	NVARCHAR(15) '$.PorAgotado',		
		Saldo	MONEY '$.Saldo',
		Email	VARCHAR(200) '$.Email'	
	)

	--SELECT * FROM @tblDatosCliente
	IF EXISTS(SELECT 1 FROM @tblDatosCliente)
	BEGIN
		DECLARE cursor_clientes CURSOR FOR
			SELECT Nit,
				   NombreCliente,
				   Cupo,
				   PorAgotado,
				   Saldo,
				   Email
			FROM @tblDatosCliente
		OPEN cursor_clientes
		FETCH NEXT FROM cursor_clientes INTO @ClienteNit, @ClienteNombre, @ClienteCupo, @ClientePorAgotado, @ClienteSaldo, @ClienteEmail

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @ClienteEmail IS NOT NULL AND @ClienteEmail <> ''
			BEGIN
				--PRINT 'ARMAR PLANTILLA'
				SET @Encabezado = '<!doctype html>
					<html>
						<head>
						<style type="text/css">
						img {
								max-width: 600px;
								outline: none;
								text-decoration: none;
								-ms-interpolation-mode: bicubic;
							}
						a {
								text-decoration: none;
								border: 0;
								outline: none;
							}
						a img {
								border: none;
							}
						/* General styling */
						td, h1, h2, h3 {
								font-family: Helvetica, Arial, sans-serif;
								font-weight: 400;
							}
						body {
								-webkit-font-smoothing: antialiased;
								-webkit-text-size-adjust: none;
								width: 70%;
								height: 100%;
								color: #989797;
								background: #ffffff;
								margin: 0 auto !important;
								border: 1px solid #cacaca;
							}
						.table-data {
								width: 100%;
							}
						.table-data td, th {
								border: 1px solid #dddddd;
								padding: 8px;
								}
						/*.table-data tr:nth-child(even) {        background-color: #f1f1f1;      }*/
						table {
								border-collapse: collapse !important;
							}
						h1, h2, h3 {
							padding: 0;
							margin: 0;
							color: #ffffff;
							font-weight: 400;
						}
						h3 {
							color: #21c5ba;
							font-size: 24px;
						}
						.important-font {
							color: #21BEB4;
							font-weight: bold;
						}
						.f-footer a {
							color: white !important;
							text-decoration: none !important;
						}
						.hide {
							display: none !important;
						}
						.force-full-width {
							width: 100% !important;
						}
					</style>
					<style type="text/css" media="screen">
						@@media screen {
						/* Thanks Outlook 2013! http://goo.gl/XLxpyl*/ 
						td, h1, h2, h3 {
							font-family: "Lato", "Helvetica Neue", "Arial", "sans-serif" !important;
							}
						}
					</style>
					</head> <body class="body" style="padding:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
								<tr>
									<td align="center" valign="top" bgcolor="#ffffff" width="100%">
										<table cellspacing="0" cellpadding="0" width="100%">
											<tr>
												<td style="border-bottom: 3px solid #aed400;" width="100%">
													<center>
														<table cellspacing="0" cellpadding="0" width="500" class="w320">
															<tr>
																<td valign="top" style="padding:10px 0; text-align:center;" class="mobile-center">
																	<img height="80" src="https://www.fuelcontrol.com.co/images/version1.1.0/90x62B-07.png">
																</td>
															</tr>
														</table>
													</center>
												</td>
											</tr>
											<tr>
												<td valign="top">
													<center>
													<table cellspacing="0" cellpadding="0" width="100%" class="w320">
														<tr>
															<td valign="top" style="border-bottom:1px dashed #a1a1a1; padding-bottom:30px;">
																<table cellspacing="0" cellpadding="0" width="100%">' + IIF(@TipoCorreo in (1,2),'
																	<tr>                 
																		<td style="text-align: center; padding: 50px 0px 0px 0px; color: #AED400; font-weight: bold; font-size: 22px">                   
																			 Estimado cliente su cupo credito ha superado el '+ CAST(@Porcentaje AS VARCHAR) +' por ciento del cupo asignado, a continuacion se relaciona su cupo total y saldo disponible: <br> 
																		</td>
																	</tr>', '') + '
																	<tr>
																	<td style="text-align: justify;  color: #908f8f; font-weight: normal; font-size: 18px;">';

				
				SET @Pie =											'</table> </div>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table cellspacing="0" cellpadding="0" width="500" class="w320">
										<tr> 
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tr>
														<td class="mobile-padding" style="text-align: center; color: #908f8f;font-weight: bold;">
															<br>
															Gracias por usar Fuel Control Solutions.
															<br>
															<br>
															<br>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										</table>
										</center>
									</td>
								</tr>
								<tr>
									<td style="background-color:#aba9a9;">
									<center>
										<table cellspacing="0" cellpadding="0" width="100%" class="w320">
											<tr>
												<td style="padding: 10px; background: #908f93; color: white;">
													<table cellspacing="0" cellpadding="0" width="100%">
														<tr>
															<td style="text-align:center; font-weight: bold;">
																<label>Tecnolog&iacute;a especializada para la comercializaci&oacute;n de combustibles.</label>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<center>
													<table cellspacing="30" cellpadding="0" width="50%">
														<tr>
															<td class="f-footer" style="text-align: center; color: white; text-decoration:none; padding:5px 0px;">
																Direcci&oacute;n: Cr42 54 A-35
																<br>
																Itagu&iacute; - Colombia.
																<br>
																info@fuelcontrol.com.co
																<br>
																Oficina Itagu&iacute;: (34) 3775403
																<br>
																Soporte Tecnico: (57) 3234790532
															</td>
														</tr>
													</table>
													</center>
												</td>
											</tr>
											<tr>
												<td>
													<center>
														<table style="margin:0 auto;" cellspacing="0" cellpadding="5" width="100%">
															<tr>
																<td style="text-align:center; margin:0 auto;" width="100%">
																	<a href="#" style="text-align:center;">
																		<label style="color: white">Fuel Control Solutions</label>
																	</a>
																</td>
															</tr>
														</table>
													</center>
												</td>
											</tr>
										</table>
									</center>
									</td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
				</body>
			</html>';
				DECLARE @CuerpoTabla NVARCHAR(MAX) = '',
							@Asunto VARCHAR(200)
				IF @TipoCorreo IN (1,2)
				BEGIN 
					SET @Asunto = CONCAT('Notificación: Su cupo crédito ha superado el ', @Porcentaje, '%');
					Set @BodyCorreo ='<div style="margin:30px"><br><br> 
					<table class="table-data">
						<tr>                    
							<th width="150" style="text-align: center;  color: #908f8f; font-weight: bold; font-size: 18px;">NIT</th>
							<th width="150" style="text-align: center;  color: #908f8f; font-weight: bold; font-size: 18px;">Nombre Cliente</th>
							<th width="200" style="text-align: center;  color: #908f8f; font-weight: bold; font-size: 18px;">Cupo Credito</th>
							<th width="200" style="text-align: center;  color: #908f8f; font-weight: bold; font-size: 18px;">% Superado</th>
							<th width="200" style="text-align: center;  color: #908f8f; font-weight: bold; font-size: 18px;">Saldo Disponible</th>	
							
										
						</tr>'
					
					SET @CuerpoTabla = 
					'<tr>
						<td style="text-align: right; font-size: 15px;">'+ @ClienteNit +'</td>
						<td style="text-align: right; font-size: 15px;">'+ @ClienteNombre  +'</td>
						<td style="text-align: right; font-size: 15px;">'+ FORMAT(@ClienteCupo, 'C', 'en-us') +'</td>
						<td style="text-align: right; font-size: 15px;">'+ FORMAT(@ClientePorAgotado/100, 'P', 'en-us') +'</td>
						<td style="text-align: right; font-size: 15px;">'+ FORMAT(@ClienteSaldo, 'C', 'en-us') +'</td>		
						
					</tr>'
				END
				
				SET @Plantilla = @Encabezado + @BodyCorreo + @CuerpoTabla + @Pie;
				--select @BodyCorreo return
				-- Enviamos a la API de SENDGRID Cuando es Distracom (3)
				IF @EmpresaId = 3 
				BEGIN
					EXEC [dbo].[sp_CallExternalSendMailAWS]
						@SendTo = @ClienteEmail,
						@SendFrom = 'workflowfc@distracom.com.co',
						@Subject = @Asunto,
						@ContentType = 'text/html',
						@ContentValue = @Plantilla
				END
				ELSE 
				BEGIN
					IF @PerfilCorreo IS NOT NULL AND @PerfilCorreo <> ''
					BEGIN
						EXEC msdb.dbo.sp_send_dbmail @profile_name = @PerfilCorreo, 
													@recipients = @ClienteEmail, 
													@subject = @Asunto, 
													@body = @Plantilla,
													@body_format = 'HTML'
					END

				END
			END

			FETCH NEXT FROM cursor_clientes INTO @ClienteNit, @ClienteNombre, @ClienteCupo, @ClientePorAgotado, @ClienteSaldo, @ClienteEmail
		END

		CLOSE cursor_clientes
		DEALLOCATE cursor_clientes
	END
END